.DS_Store
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/acve_final_kg.ttl
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/merged_knowledge_graph.ttl
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/real_acve_situations_kg.ttl
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/real_images_acve_kg.ttl
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/real_images_kg.ttl
ARTstract_kg_creation/ARTstract_kg_construction/real_kg_construction/output/real_situations_kg.ttl
ARTstract-KG_frame_enrichment/KG_frame_update/image_frames_kg.ttl
ARTstract-KG_frame_enrichment/KG_frame_update/ARTstract_knowledge_graph.ttl
ARTstract_knowledge_graph.ttl
ARTstract-KG_frame_enrichment/KG_frame_update/merged_knowledge_graph.ttl
